{% extends 'base.html' %}

{% block title %}
Metal Gear Solid 3: Snake Eater
{% endblock %}

{% block body %}
<style>
  body {
    background: url('/static/mgs3_bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
<div class="container mt-5">
    <h1> Metal Gear Solid 3: Snake Eater </h1>
    <u1>
        <h5> Год выпуска: <b>2004</b> </h5>
        <h5> Жанр: <b>stealth-action, action-adventure</b> </h5>
        <h5> Платформа: <b>Sony PlayStation 2</b> </h5>
        <p><h6>Является приквелом всей серии MGS. Рассказывает историю становления Биг Босса.</h6></p>
        <h2> Сюжет </h2>
    </u1>
    <div style="margin-top: 20px;">
    <p>
        Действие игры разворачивается в августе 1964 года. В скандал вокруг постройки Советским Союзом гигантского танка «Шагоход», способного стрелять ядерными ракетами с любой местности, помимо США втянуты ещё несколько держав. Задача главного героя, получившего кодовое имя Нейкед Снейк, — восстановить баланс сил и предотвратить эскалацию конфликта, грозящего перерасти в Третью мировую войну. Главный герой отправляется на территорию Целиноярска, где содержится советский учёный Соколов.
    </p>
    </div>
    <div style="margin-top: 20px;">
    <p>
        <b>Миссия «Добродетель»</b>
    </p>
    </div>
    <p>
        Агент ЦРУ Нейкед Снейк послан в леса Целиноярска в СССР. По радио Снейку оказывают поддержку Майор Зеро, Пара-Медик и бывшая наставница Снейка — Босс. Его задача — захватить учёного-ядерщика Соколова, который тайно занимается разработкой продвинутого ядерного танка «Шагоход». Снейк успешно справляется с заданием, однако Босс предаёт его и переходит на сторону полковника Волгина, взяв с собой две ядерные боеголовки типа Davy Crockett. Соколова берут в плен члены отряда «Кобра», Снейк получает тяжёлую рану в схватке с Босс, а Волгин со своими подразделениями уходит. Чтобы скрыть похищение учёного, полковник приводит в действие одну из ядерных боеголовок. В ответ на предостережения Оцелота он говорит, что в случае необходимости обвинит в случившемся Босс.
    </p>
    <div style="margin-top: 20px;">
    <p>
        <b>Операция «Пожиратель змей»</b>
    </p>
    </div>
    <p>
        Советская сторона засекает военный самолёт США, прилетевший эвакуировать Снейка, и Советский Союз официально заявляет, что именно Соединённые Штаты ответственны за ядерную атаку. Две нации оказываются на грани ядерной войны. На тайных переговорах между Линдоном Джонсоном и Никитой Хрущёвым заключается соглашение о попытке США доказать свою непричастность и восстановить мир. Штаты соглашаются остановить предательскую группу Волгина, уничтожить похищенный «Шагоход» и устранить Босс, предавшую американскую сторону.
    </p>
    <div style="display: flex; align-items: flex-start; margin-top: 20px;">
        <div style="flex: 0;">
            <img src="/static/mgs3_stealth.png" width="300" height="240">
            <div style="margin-top: 10px">
                <p><small>Нейкид Снейк использует камуфляж, чтобы слиться с окружением. Процент незаметности указан в правом верхнем углу</small></p>
            </div>
        </div>
        <div style="flex: 1; margin-left: 20px;">
            <p>
                Спустя неделю после завершения предыдущего задания Снейка снова посылают на советскую территорию в рамках операции «Пожиратель змей», где ему предстоит выполнить обещания США перед советской стороной. Во время этой миссии он получает поддержку от бывшего агента АНБ Евы, которая несколькими годами ранее бежала в Советский Союз (хотя Снейку сообщили, что ему будет помогать Адам). После многочисленных столкновений с отрядом «Оцелот» и уничтожения почти всех членов отряда «Кобра» Снейк успешно обнаруживает местонахождение Соколова и похищенного «Шагохода», но его берут в плен и помещают в военную крепость Волгина «Грозный Град». Став свидетелем того, как Волгин до смерти избил Соколова, Снейк спасает Еву от пули Оцелота, но теряет глаз. В конце концов Снейку удаётся сбежать.
            </p>
            <p>
                Вернувшись в здание, чтобы уничтожить «Шагоход», Снейк узнаёт о группировке «Философов». Созданная наиболее влиятельными людьми из США, СССР и Китая, эта организация тайно держала под контролем весь мир.
            </p>
        </div>
    </div>
    <p>
        Однако после окончания Второй мировой войны члены организации начали воевать друг против друга, и организация распалась. Денежные средства организации («Наследие»), совместно накопленные для финансирования войн (около 100 млрд долларов), были поделены и спрятаны в банках по всему миру. Волгин незаконно присвоил себе эти деньги, а правительство США, как становится известно Снейку, собирается их вернуть.
    </p>
    <div style="display: flex; align-items: flex-start; margin-top: 20px;">
        <div style="flex: 1; margin-right: 20px;">
            <p>
                Снейк продолжает выполнение миссии и уничтожает крепость и «Шагоход», а затем сталкивается с Волгиным. Полковник погибает от удара молнии, а Снейк и Ева отправляются к озеру, где спрятан экранолёт 14М1П. Но до того, как им удаётся сбежать на нём, Снейк вступает в бой с Босс, которую он согласно миссии должен убить. После напряжённого боя Снейк преодолевает свои чувства и убивает её. Вместе с Евой Снейк бежит на Аляску, они вместе проводят ночь. Затем Ева исчезает, оставив магнитофонную запись с признанием в том, что она — китайский шпион, посланная, чтобы украсть «Наследие Философов» для Китая. Ева также сообщает, что на самом деле Босс не переходила на сторону Советского Союза — ей приказали притвориться перебежчицей, чтобы внедриться в окружение Волгина и узнать о местонахождении «Наследия», которое Америка собиралась заполучить.
            </p>
        </div>
        <div style="flex: 0;">
            <img src="/static/mgs3_tears.png" width="400" height="250">
            <div style="margin-top: 10px">
                <p><small>Самый драматичный момент во всей серии - битва с Босс</small></p>
            </div>
        </div>
    </div>
    <p>
        Выполняя свою миссию, она должна была пожертвовать своим добрым именем, до конца притворяясь предателем, и погибнуть от рук Снейка, чтобы доказать непричастность США к устроенной Волгиным ядерной атаке. По словам Евы, правду об этой операции не узнает никто. Босс войдет в историю, как предатель и чудовище, пытавшееся развязать ядерную войну.
    </p>
    <p>
        После окончания всех объяснений Снейк приходит в Белый Дом, где получает титул «Биг Босс» и награждается Крестом «За выдающиеся заслуги» в присутствии восторженной толпы. Снейк, деморализованный и потрясённый рассказом Евы, берёт свою медаль и сразу покидает церемонию, окинув всех присутствующих презрительным взглядом. Позднее он посещает безымянную могилу, где лежит Босс, на Арлингтонском национальном кладбище. Он кладёт на эту могилу автомат Босс и букет лилий, затем отдает честь. Биг Босс роняет одну единственную слезу.
    </p>
    <p>
        После финальных титров слышен голос Оцелота, разговаривающего с руководителем ЦРУ по телефону. Оцелот сообщает, что украденный Евой микрофильм был подделкой, и что половина Наследия «Философов» сейчас в руках американцев. Выясняется, что Оцелот с самого начала был тройным агентом. Он говорит, что является тем самым Адамом, работающим на ЦРУ.
    </p>
</div>
{% endblock %}